* {
  padding: 0px;
  margin: 0px; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 900px;
  width: 100%;
  margin: auto; }

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #111; }

p {
  font-size: 1.5rem; }

a {
  font-size: 1.5rem; }

.bold {
  font-weight: bold; }

.date {
  font-size: 1rem;
  color: grey; }

.header {
  color: blue;
  display: flex;
  height: 5rem;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0px 1rem .7rem -1.45rem #111; }
  .header div {
    height: 100%;
    padding: .5rem;
    box-sizing: border-box; }
    .header div .header__link {
      padding: 0 .5rem; }
  .header .header__link {
    color: black;
    text-decoration: none;
    padding: .5rem;
    vertical-align: center; }

.main {
  box-sizing: border-box;
  margin: auto; }
  .main h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem; }
  .main .main__content {
    box-sizing: border-box;
    padding: 1rem; }
    .main .main__content.view {
      margin: auto;
      width: 65%; }
    .main .main__content .main__title {
      padding: 1rem 1.5rem;
      box-shadow: 0px 1.1rem .7rem -1.6rem #111;
      box-sizing: border-box;
      height: 5rem; }
    .main .main__content .main__description {
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
      box-sizing: border-box;
      box-shadow: 0px 1.1rem .7rem -1.6rem #111; }
      .main .main__content .main__description p {
        margin-bottom: 1rem; }
      .main .main__content .main__description .date {
        margin-top: .5rem; }
    .main .main__content .main__comment form {
      display: flex; }
      .main .main__content .main__comment form textarea, .main .main__content .main__comment form button {
        height: 5rem;
        box-sizing: border-box;
        vertical-align: top;
        border: none;
        background: white; }
      .main .main__content .main__comment form textarea {
        width: 100%;
        padding: 1.5rem;
        font-family: Helvetica, Arial, sans-serif;
        resize: none; }
      .main .main__content .main__comment form button {
        color: #66c1df;
        padding: 1rem; }
    .main .main__content .photo__create {
      text-align: center; }
      .main .main__content .photo__create h2 {
        font-size: 2rem;
        color: #333333;
        margin: 2rem auto; }
      .main .main__content .photo__create .photoform {
        width: 500px;
        margin: auto; }
      .main .main__content .photo__create .styles {
        margin: auto;
        display: block; }
    .main .main__content .result {
      width: 500px;
      margin: auto; }
      .main .main__content .result h2 {
        font-size: 2rem;
        color: #333333;
        margin: 2rem auto; }
    .main .main__content .createit {
      display: block;
      width: 500px;
      margin: auto; }
      .main .main__content .createit h2 {
        text-align: center;
        margin: 1rem;
        font-size: 2rem; }
      .main .main__content .createit button, .main .main__content .createit a[class=button] {
        background-color: white;
        color: #27afe6;
        font-size: 15px;
        border: solid 0.1rem #27afe6;
        width: 100%;
        height: 50px;
        display: block; }
      .main .main__content .createit form {
        width: 300px;
        display: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
        padding: 20px;
        border-radius: 10px;
        box-sizing: border-box; }
        .main .main__content .createit form label {
          display: block;
          font-weight: normal;
          padding-bottom: 5px;
          padding-top: 0px; }
        .main .main__content .createit form input, .main .main__content .createit form select, .main .main__content .createit form button, .main .main__content .createit form a[class=button], .main .main__content .createit form textarea {
          display: block;
          width: 100%;
          height: 40px;
          margin: 10px auto 5px auto;
          padding-right: 10px;
          padding-left: 10px;
          border-radius: 5px;
          box-sizing: border-box;
          border: #27afe6 solid 0.1rem; }
        .main .main__content .createit form input[type=submit] {
          background-color: #27afe6;
          color: white;
          font-size: 15px;
          border-radius: 10px;
          width: 150px; }
        .main .main__content .createit form button, .main .main__content .createit form a[class=button] {
          background-color: white;
          color: #27afe6;
          font-size: 15px;
          border: solid 0.1rem #27afe6;
          width: 100%; }
    .main .main__content .style {
      width: 125px;
      height: 125px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 8px;
      border: 1px solid #333333; }
    .main .main__content #selectable {
      list-style-type: none;
      list-style: none; }
      .main .main__content #selectable li {
        display: inline; }
      .main .main__content #selectable div {
        float: left; }
    .main .main__content img {
      width: 100%; }
    .main .main__content a {
      margin: .25rem; }
      .main .main__content a img {
        width: 32.5%; }
