* {
  padding: 0px;
  margin: 0px; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 900px;
  width: 100%;
  margin: auto; }

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #111; }

p {
  font-size: 1.5rem; }

a {
  font-size: 1.5rem; }

.bold {
  font-weight: bold; }

.date {
  font-size: 1rem;
  color: grey; }

.header {
  color: blue;
  display: flex;
  height: 5rem;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0px 1rem .7rem -1.45rem #111; }
  .header a {
    transition: .3s ease-in-out; }
    .header a:hover {
      color: #F7941D; }
  .header div {
    height: 100%;
    padding: .5rem;
    box-sizing: border-box; }
    .header div .header__link {
      padding: 0 .5rem; }
  .header .header__link {
    color: black;
    text-decoration: none;
    padding: .5rem;
    vertical-align: center; }
    .header .header__link img {
      width: 75px; }

.messages {
  text-align: center;
  margin: 20px auto;
  color: red; }

.main {
  box-sizing: border-box;
  margin: 10px auto 40px auto; }
  .main h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem; }
  .main a {
    outline: none;
    color: #ca3b8e; }
  .main button {
    outline: none; }
  .main .main__content {
    box-sizing: border-box;
    padding: 1rem; }
    .main .main__content.view {
      margin: auto;
      width: 65%; }
    .main .main__content .main__title {
      padding: 1rem 1.5rem;
      box-shadow: 0px 1.1rem .7rem -1.6rem #111;
      box-sizing: border-box;
      height: 5rem; }
    .main .main__content .main__description, .main .main__content .main__comment {
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
      box-sizing: border-box;
      box-shadow: 0px 1.1rem .7rem -1.6rem #111; }
      .main .main__content .main__description p, .main .main__content .main__comment p {
        margin-bottom: 1rem; }
      .main .main__content .main__description .date, .main .main__content .main__comment .date {
        margin-top: .5rem; }
      .main .main__content .main__description a, .main .main__content .main__comment a {
        float: right;
        text-align: right;
        color: orange;
        text-decoration: none;
        transition: .3s ease-in-out; }
      .main .main__content .main__description a:hover, .main .main__content .main__comment a:hover {
        text-decoration: underline; }
    .main .main__content .main__comment form {
      margin-top: rem;
      display: flex; }
      .main .main__content .main__comment form textarea, .main .main__content .main__comment form button {
        height: 5rem;
        box-sizing: border-box;
        vertical-align: top;
        border: none;
        background: white; }
      .main .main__content .main__comment form textarea {
        width: 100%;
        padding: 1.5rem;
        font-family: Helvetica, Arial, sans-serif;
        resize: none; }
      .main .main__content .main__comment form button {
        color: #ca3b8e;
        padding: 1rem;
        transition: .3s ease-in-out; }
        .main .main__content .main__comment form button:hover {
          color: #F7941D; }
    .main .main__content .photo__create {
      text-align: center; }
      .main .main__content .photo__create h2 {
        font-size: 2rem;
        color: #333333;
        margin: 2rem auto; }
      .main .main__content .photo__create .photoform {
        width: 500px;
        margin: auto; }
      .main .main__content .photo__create .styles {
        margin: auto;
        display: block; }
    .main .main__content .result {
      width: 500px;
      margin: auto; }
      .main .main__content .result h2 {
        font-size: 2rem;
        color: #333333;
        margin: 2rem auto; }
    .main .main__content .createit {
      display: block;
      width: 500px;
      margin: auto; }
      .main .main__content .createit h2 {
        text-align: center;
        margin: 1rem;
        font-size: 2rem; }
      .main .main__content .createit button, .main .main__content .createit a[class=button] {
        background-color: white;
        color: #ca3b8e;
        font-size: 15px;
        border: solid 0.1rem #ca3b8e;
        width: 100%;
        height: 50px;
        display: block;
        transition: .3s ease-in-out; }
        .main .main__content .createit button:hover, .main .main__content .createit a[class=button]:hover {
          color: #F7941D; }
      .main .main__content .createit form {
        width: 300px;
        display: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
        padding: 20px;
        border-radius: 10px;
        box-sizing: border-box; }
        .main .main__content .createit form label {
          display: block;
          font-weight: normal;
          padding-bottom: 5px;
          padding-top: 0px; }
        .main .main__content .createit form input, .main .main__content .createit form select, .main .main__content .createit form button, .main .main__content .createit form a[class=button], .main .main__content .createit form textarea {
          display: block;
          width: 100%;
          height: 40px;
          margin: 10px auto 5px auto;
          padding-right: 10px;
          padding-left: 10px;
          border-radius: 5px;
          box-sizing: border-box;
          border: #ca3b8e solid 0.1rem; }
        .main .main__content .createit form input[type=submit] {
          background-color: #ca3b8e;
          color: white;
          font-size: 15px;
          border-radius: 10px;
          width: 150px; }
        .main .main__content .createit form button, .main .main__content .createit form a[class=button] {
          background-color: white;
          color: rgbrgba(202, 59, 142, 1);
          font-size: 15px;
          border: solid 0.1rem #ca3b8e;
          width: 100%; }
    .main .main__content .style {
      width: 125px;
      height: 125px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 8px;
      border: 1px solid #333333; }
    .main .main__content #selectable {
      list-style-type: none;
      list-style: none; }
      .main .main__content #selectable li {
        display: inline; }
      .main .main__content #selectable div {
        float: left; }
    .main .main__content img {
      width: 100%; }
    .main .main__content .feed {
      width: calc(97.5% / 3);
      padding-top: 33%;
      display: inline-block;
      overflow: hidden;
      position: relative;
      margin: -4px -1px;
      border: 2px solid white; }
      .main .main__content .feed img {
        min-height: 100%;
        opacity: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        transition: .3s ease-in-out; }
        .main .main__content .feed img:hover {
          opacity: .825; }

.logo {
  text-align: center;
  margin-bottom: 10px; }
  .logo img {
    width: 200px; }

.login h1 {
  margin: 10px auto; }

.login form {
  width: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  background-color: rgba(240, 239, 239, 0.459);
  border-radius: 10px; }
  .login form label {
    display: block;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 5px;
    padding-top: 0px; }
  .login form input, .login form select, .login form button, .login form a[class=button], .login form textarea {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px auto 5px auto;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    outline: none; }
  .login form input[type=submit] {
    background-color: #ca3b8e;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    transition: all .25s ease-in-out; }
  .login form input[type=submit]:hover {
    background-color: #F7941D; }
  .login form a[class=button] {
    padding-top: 10px;
    text-align: center; }

.line {
  border: .5px lightgrey solid;
  margin: 40px auto 20px auto; }
