<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'log_app/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'log_app/css/core_styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a class="header__link" href="/dashboard">
                <img src="{% static 'log_app/images/photofuser.png' %}" alt="Photo Fuser Logo">
            </a>
            <div>
                {% if request.session.id %}
                    <a class="header__link" href="/profile">Profile</a>
                    <a class="header__link" href="/createimage">Upload</a>
                {% else %}
                    <a class="header__link" href="/signuplog">Sign In</a>
                {% endif %}
            </div>
        </header>

        <div class="main">
            <div class="main__content">
                {% for photo in img %}
                    <div class="feed">
                        <a href="/viewimage/{{ photo.id }}">
                            <img src="{{ photo.imagethumb }}" alt="{{ photo.title }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>