<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'log_app/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'log_app/css/core_styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a class="header__link" href="/dashboard">
                <img src="{% static 'log_app/images/photofuser.png' %}" alt="Photo Fuser Logo">
            </a>
            <div>
                <a class="header__link" href="/logout">Logout</a>
                <a class="header__link" href="/createimage">Upload</a>
            </div>
        </header>

        <div class="main">
            <div>
                <h1>{{ request.session.name}}'s Beautiful Creations</h1>
            </div>
            <div class="main__content">
                {% if img %}
                    {% for photo in img %}
                        <div class="feed">
                            <a href="/viewimage/{{ photo.id }}">
                                <img src="{{ photo.imagethumb }}" alt="{{ photo.title }}">
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You have not created anything yet</p>
                    <a href="/createimage"><button>Make Magic</button></a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>